In [1]:
import pandas as pd

In [2]:
# Import data from the CSV file to a pandas DataFrame.
player_df = pd.read_csv('player_data.txt')

In [3]:
# Print out the first five rows of the player_df DataFrame.
player_df.head()

,ID,points,possessions,team_pace,Unnamed: 4,Unnamed: 5,GP,MPG,TS%,AST,TO,USG,ORR,DRR,REBR,PER
0,1,1893.0,1251.8,97.8,NaN,NaN,63.0,33.9,0.569,17.2,11.5,26.1,4.7,23.3,7.8,10.90
1,2,1386.0,1282.5,110.5,NaN,NaN,58.0,32.5,0.511,24.8,9.7,26.9,6.1,0.9,10.7,27.30
2,3,1405.0,1252.3,105.8,NaN,NaN,55.0,36.3,0.605,25.7,13.9,28.1,4.5,4.9,1.8,NaN
3,4,1282.0,1235.9,100.7,NaN,NaN,54.0,37.6,0.636,29.5,11.0,22.3,4.8,4.6,5.6,22.35
4,5,1721.0,1254.0,105.7,NaN,NaN,59.0,30.5,0.589,22.8,9.9,24.6,1.2,8.4,12.1,28.38

In [4]:
# Total up the number of NaN values in each row of the DataFrame.
player_df.isna()

,ID,points,possessions,team_pace,Unnamed: 4,Unnamed: 5,GP,MPG,TS%,AST,TO,USG,ORR,DRR,REBR,PER
0,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,True,True,False,True,False,False,False,False,False,False,False,True
8,False,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,True
10,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,True,True,True,False,False,False,False,False,False,False,False,True
13,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,True,True,False,True,False,False,False,False,False,False,False,False
15,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,True,True,True,False,False,False,False,False,False,False,False,True
17,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False
19,False,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,True,True,False,True,False,False,False,False,False,False,False,False
21,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,True,True,False,True,False,False,False,False,False,False,False,True
23,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False
24,False,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,True,True,True,False,False,False,False,False,False,False,False,False
26,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,True
28,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,True,True,True,True,True,True,True,True,True,True,True,True
30,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False
31,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False
32,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False
33,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,True
34,False,False,False,False,True,True,True,True,False,False,False,False,False,False,False,False
35,False,False,False,False,True,True,True,False,False,False,False,False,False,False,False,False
36,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False
37,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False
38,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False
39,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False
40,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False
41,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False
42,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,True
43,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False
44,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False
45,False,False,False,False,True,True,True,False,False,False,False,False,False,False,False,False

In [5]:
player_df.isna().sum()

ID              0
points          3
possessions     3
team_pace       3
Unnamed: 4     46
Unnamed: 5     46
GP              7
MPG             6
TS%             1
AST             1
TO              1
USG             1
ORR             1
DRR             1
REBR            1
PER            10
dtype: int64

In [6]:
#Print out the information about the Dataframe
player_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           46 non-null     int64
 1   points       43 non-null     float64
 2   possessions  43 non-null     float64
 3   team_pace    43 non-null     float64
 4   Unnamed: 4   0 non-null      float64
 5   Unnamed: 5   0 non-null      float64
 6   GP           39 non-null     float64
 7   MPG          40 non-null     float64
 8   TS%          45 non-null     float64
 9   AST          45 non-null     float64
 10  TO           45 non-null     float64
 11  USG          45 non-null     float64
 12  ORR          45 non-null     float64
 13  DRR          45 non-null     float64
 14  REBR         45 non-null     float64
 15  PER          36 non-null     float64
dtypes: float64(15), int64(1)
memory usage: 5.9 KB